# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*

# Production & Build outputs
.next/
out/
build/
dist/


# Environment variables
.env
.env*.local
.env.cv_postgres
.env.cv_backend

# Testing & Coverage
coverage/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS and IDE files
.DS_Store
*.pem
.idea/
.vscode/

# TypeScript build info
*.tsbuildinfo
next-env.d.ts

.antigravity/assets
